<%- include('../partials/header') %>

<div>
    <% recipes.forEach(function(r){ %>
        <p><%= r.name %></p>
        <p><%= r.category %></p>
        <p><%= r.prepTime %></p>
    <% }); %>
</div>
<%- include('../partials/footer') %>