<%- include('../partials/header') %>
<form action='/recipes/<%=recipe._id%>?_method=PUT' method='POST'>
    <div class="row">
        <div class="form-group col-md-7">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" value="<%=recipe.name%>"/>
        </div>
        <div class="form-group col-md">
            <label for="category">Category:</label>
            <input type="text" class="form-control" name="category" value="<%=recipe.category%>"/>
        </div>
        <div class="form-group col-md">
            <label for="prepTime">Preparation Time:</label>
            <input type="number" class="form-control" name="prepTime" value="<%=recipe.prepTime%>"/> 
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-7">
            <label for="ingredients">Ingredients</label>
            <input type="search" class="form-control" name="q" id="ingredient-search"/>
        </div>
        <div class="form-group col">
            <label></label>
            <button class="btn btn-outline-secondary form-control">Search</button>
        </div>       
    </div>
    <div class="form-group">
        <label for="directions"></label>
        <textarea class="form-control" name="directions" cols="30" rows="10"><%=recipe.directions%></textarea>
    </div>
   <input type="submit" class="btn btn-outline-secondary" value="Update Recipe">
</form>

<%- include('../partials/footer') %>