<%- include('../partials/header') %>
<form id="update-recipe-form">
    <div class="row">
        <div class="form-group col-md-7">
            <input type="hidden" id="recipe-id" value="<%=recipe._id%>"/>
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="recipe-name" value="<%=recipe.name%>"/>
        </div>
        <div class="form-group col-md">
            <label for="category">Category</label>
            <input type="text" class="form-control" name="category" id="category" value="<%=recipe.category%>"/>
        </div>
        <div class="form-group col-md">
            <label for="prepTime">Preparation Time</label>
            <input type="number" class="form-control" name="prep-time" id="prep-time" value="<%=recipe.prepTime%>"/> 
        </div>
    </div>
    <div class="row">
        <div class="form-group col-auto">
            <label for="ingredient-search">Ingredient Search</label>
            <input type="search" class="form-control" name="q" id="ingredient-search"/>
        </div>
        <div class="form-group col-auto">
            <label></label>
            <button class="btn btn-outline-secondary form-control" id="ingredient-search-btn" data-toggle="modal" data-target="#exampleModal">Search</button>
        </div>       
    </div>
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <ul class="form-control list-group" name="ingredients" id="ingredient-list">
            <% if(recipe.ingredients.length) { %>
                <% recipe.ingredients.forEach(function(i) { %>
                    <li class='list-group-item'><%=i.ingredient.name%> (<%=i.amount%> <%=i.unit%>)</li>
                <% }); %>
            <% }else{ %>
                No Ingredients Yet
            <% } %>
        </ul>
    </div>
    <div class="form-group">
        <label for="directions">Directions</label>
        <textarea class="form-control" name="directions" id="directions" cols="30" rows="10"><%=recipe.directions%></textarea>
    </div>
   <button class="btn btn-outline-secondary" id="update-recipe" >Update Recipe</button>
</form>
<%- include('../partials/searchResults') %>
<%- include('../partials/footer') %>